p{
    color: red;
    text-align: center;
    font-family: Georgia;
    line-height: 30px;
}
h1{
    text-align: center;
    font-family: Georgia;
    color: brown;

}
h3{
    text-align: center;
    color: black;
    font-family: Georgia;

}
h4{
    text-align: center;
    font-family: Georgia;
}
a{
    color: green;
    text-decoration: none;
}
button{
    color: blueviolet;
    background-color: white;
}
textarea{
    color: black;
}
body{
    background-color: wheat;
}
